<!DOCTYPE html>
<html xmlns="http://www.w3.org/xhtml" xml.lang="fr" lang="fr">
<head>
<meta http-equiv="Content-type" content="text/html"; charset="utf-8"/>
<title>Quick Weather App</title>
<link rel="styleSheet" href="#"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>


<body ng-app="WeatherApp">


<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Quick Weather App</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>

<div class="container" ng-controller="FirstCtrl">
	<div class="jumbotron">
        <center><h2><b>How's the weather in your city</b></h2>
       <br>
        

        <p><a class="btn btn-lg btn-primary" ng-click="getaddress()" role="button"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Where am I? </a>
         <h3 ng-bind="address"></h3></p>

         <p><a class="btn btn-lg btn-success" ng-click="getweather()" role="button"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> How's the weather? </a>
         <h3 ng-bind="xxx"></h3></p>


        </center>

      </div>

</div>




 <!-- jquery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!-- angularJS  -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script> 
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> <!-- bootstrap -->
 <script src="js/app.js" ></script> 
<!-- <script src="js/test.js" ></script> -->
<!-- <script src="js/grid.js"<>/script> -->
</body>
</html>
